.content {
 max-width: 1176px;
 background-color: #fff;
 margin: 0 auto;
 padding: 4rem 0;
 border-right: 20px solid var(--cool-grey);
 border-left: 20px solid var(--cool-grey);
 height: 100vh;
}

.tableWrap {
 width: 100%;
 background-color: var(--slate-grey-two);
 padding: 2rem 1.5rem;
 margin: 2rem auto;
 font-family: 'lato', Arial, Helvetica, sans-serif;
}
.tableWrap h3 {
 font-weight: bold;
 color: var(--style-primary);
 margin-bottom: 1rem;
}
.tableWrap i {
 font-style: normal;
 color: #fff;
 margin-bottom: 1rem;
 display: block;
}
